:root {
  --primary-bg: white;
  --secondary-bg: black;
  --text-primary-color: rgb(50, 50, 50);
  --text-secondary-color: rgb(225, 225, 225);
  --link-primary-color: blue;
  --link-secondary-color: rgb(225, 225, 225);
  --link-secondary-color-active: rgb(255, 255, 255);
}

.section-inner {
  margin: 0 auto;
  max-width: 1024px;
}

body {
  background-color: var(--secondary-bg);
  color: var(--text-primary-color);
  font-size: 16px;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: var(--secondary-bg);
  color: var(--text-secondary-color);
  padding: 2em 1em;
}

header>div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

@media (min-width: 600px) {
  header>div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

header h1 {
  margin: 0;
  padding: 0;
}

header nav {
  display: inline-flex;
  gap: 1.5em;
}

@media (min-width: 600px) {
  header nav {
    display: inline-flex;
    gap: 1.5em;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

header nav a {
  color: var(--link-secondary-color);
  text-decoration: none;
}

header nav a:hover {
  color: var(--link-secondary-color-active) !important;
  text-decoration: underline;
}

header nav a:visited {
  color: var(--link-secondary-color);
}

main {
  background-color: var(--primary-bg);
  padding: 1.5em;
}

footer>div {
  display: flex;
  align-items: center;
}

.split-stack>div:nth-child(even) {
  flex-direction: row-reverse;
}

@media (min-width: 600px) {
  .split-stack>div {
    flex-direction: row !important;
  }

}

/* Very Basic Two Pane Split Component
┌────────┬─────────┬
│        │         │
│  left  │  right  │
│        │         │
└────────┴─────────┘
*/
.split {
  display: flex;
  flex-direction: column;
}

.split>div {
  flex: 1;
  padding: 0.5em;
}

@media (min-width: 600px) {
  .split-2 {
    flex-direction: row;
  }

  .split>div {
    padding: 1.5em;
  }
}
