:root {
  --primary-bg: rgb(255, 255, 255);
  --secondary-bg: rgb(255, 255, 255);
  --text-primary-color: rgb(50, 50, 50);
  --text-secondary-color: rgb(50, 50, 50);
  ;
  --link-primary-color: rgb(0, 0, 200);
  --link-secondary-color: rgb(120, 0, 200);
  --logo-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: rgb(30, 30, 30);
    --secondary-bg: rgb(30, 30, 30);
    --text-primary-color: rgb(225, 225, 225);
    --text-secondary-color: rgb(225, 225, 225);
    --link-primary-color: rgb(68, 147, 248);
    --link-secondary-color: rgb(52, 113, 194);
    --logo-color: white;
  }
}

body {
  background-color: var(--secondary-bg);
  color: var(--text-primary-color);
  font-size: 16px;
  font-family: "Inter", system-ui, -apple-system, BkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-primary-color);
}

a:visited {
  color: var(--link-secondary-color);
}

body>header,
body>main,
body>footer {
  padding: 1.5rem;
}

body>footer {
  display: flex;
  align-items: center;
  font-size: 80%;
  gap: 0.3125rem;
}

body>footer span {
  line-height: 24px;
}

body>header,
body>footer {
  background-color: var(--secondary-bg);
  color: var(--text-secondary-color);
}

body>header {
  display: grid;
  place-items: center;
}

body>header svg {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  width: auto;
  color: var(--logo-color);
}

body>footer svg {
  color: var(--logo-color);
}

body>main {
  background-color: var(--primary-bg);
  line-height: 1.5rem;
}

body>footer>div {
  display: flex;
  align-items: center;
}

/* Desktop styles */
@media (min-width: 600px) {
  body>header nav {
    display: inline-flex;
    gap: 1.5em;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1024px;
  }

  .wrapper-narrow {
    max-width: 512px;
  }
}

/* Blog styles */
