:root {
  --primary-bg: white;
  --secondary-bg: black;
  --text-primary-color: rgb(50, 50, 50);
  --text-secondary-color: rgb(225, 225, 225);
  --link-primary-color: rgb(0, 0, 200);
  --link-secondary-color: rgb(225, 225, 225);
  --link-secondary-color-active: rgb(255, 255, 255);
}

body {
  background-color: var(--secondary-bg);
  color: var(--text-primary-color);
  font-size: 16px;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body>header,
body>main,
body>footer {
  padding: 1.5rem;
}

body>footer {
  display: flex;
  align-items: center;
  font-size: 80%;
  gap: 0.3125rem;
}

body>footer span {
  line-height: 24px;
}

body>header,
body>footer {
  background-color: var(--secondary-bg);
  color: var(--text-secondary-color);
}

body>header {
  display: grid;
  place-items: center;
}

body>header img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  width: auto;
  object-fit: contain;
}

body>main {
  background-color: var(--primary-bg);
  line-height: 1.5rem;
}

body>footer>div {
  display: flex;
  align-items: center;
}

/* Desktop styles */
@media (min-width: 600px) {
  body>header nav {
    display: inline-flex;
    gap: 1.5em;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1024px;
  }

  .wrapper-narrow {
    max-width: 512px;
  }
}
