<!doctype html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="title" content="{{ page.title }}" />
  <meta name="description" content="Description of adbc-drivers.org" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="Description of adbc-drivers.org" />
  <meta property="og:image" content="/assets/images/adbc-drivers-logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link href='/assets/images/favicon.ico' rel='shortcut icon'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  {% include header.html %}
  <main>
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>

</html>
